button {
    width: 250px; 
    height: 80px; 
    font-size: 25px; 
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    color: black; 
    border: 2px solid rgb(246, 182, 182); 
    border-radius: 15px; 
    margin: 5px; 
    cursor: pointer; 
}  

button:hover {
  background-color: hotpink;
} 

.button-click {
  background-color: blueviolet;
} 

.button-restart {
  background-color: brown;
}